//

.counters {
  margin-right: 30px;
  font-size: 10px;
  text-align: center;

  strong{
    display: block;
    font-size: 2em;
    font-weight: bold;
  }

  .vote, .answer, .view{
    width: 60px;
    height: 60px;
  }

  .status {
    &.unanswered {
      border: none;
    }

    &.answered {
      border: 1px solid green;
      color: green;
    }

    &.answered-accepted {
      background:green;
      color: white;
    }
  }
}
